.row{
  width:100%;
}
.width-100{
  width:100%;
}
.login_button{
  background:white;
  color:black !important;
}
#forcast_video{
  min-width:100%;
  z-index: 0;
  height:100%;
  box-sizing: content-box;
  position: absolute;
}
source{
  width:100%;
  height:100%;
}
.container-fluid{
  margin:0;
  padding:0;
  width:100%;
}
body{
  overflow-x: hidden;
}
.navbar_row{
  box-sizing: content-box;
}

.inactive{
  visibility: hidden;
}

.relative{
  position: relative;
}
.info_item_name{
  clear:both;
}
.weather_main_overview_container{
  position: absolute;
  top:0%;
  left:0;
  width:100%;
  height:100%;
}

.logo_name{
  font-size: 20px;
  font-weight:300;
  color:#38B6FF;

  font-family: "Amazon Ember";
  float:left;
  margin-top:2.5%;
  margin-left:5%;
}
.navbar_row{
  padding:1%;
  background:black;
}
.logo{
  width:50px;
  height:50px;
  float:left;
  margin-left:2.5%;
}
.button_weather{
  float: right;
  color:white;
  margin-right:5%;
}

.account_button{
  background:#38B6FF;
}

.weather_input{
  width:95%;
  float:left;
  border:none;
  height:6%;
  padding:1%;
  outline:none;
  box-shadow :0px 0px 0px #e6e6e6;
  transition: all .5s;
  border:1px solid #e6e6e6;
}

.search_icon{
  display:inline;
  float:left;
  padding:.9%;
  height:5%;
  border:1px solid #e6e6e6;
  border-right:none;
}


.weather_input:focus{
  box-shadow :0px 0px 30px #e6e6e6;
  border-color: teal !important;
}
.weather_input:focus + .search_icon{
  background:black !important;

}
.weather_input:focus + .search_icon img{
  filter:brightness(100);
}

.search_icon img{
  height:50%;
  margin:auto;
  width:50%;
}
