.weather_row_container{
  padding:2.5%;
}
.weather_main_overview_container{
  top:0%;
  left:0%;
  width:100%;
  z-index:9;
  height:80vh;
}
body{
  background-size:cover !important;
}
ul{
  width:100%;
}
li {
  list-style-type: none;
  color:white;
  margin-top:10%;
  width:100%;
  font-family: "Nanum Gothic Coding", monospace;
  font-weight:300;
}
.weather_overview_title{
  font-size: 50px;
  color:white;
  margin-top:5%;
  font-family: "Nanum Gothic Coding", monospace;
  font-weight:300;
  width:100%;
  text-align: center;
}

.weather_overview_weather{
  font-size: 20px;
  width:100%;
  margin-top:1%;
  font-family: "Amazon Ember";
  font-weight: 300;
  color:white;
  text-align: center;

}
.shadow_box{
  z-index:99;
  margin-left: 2.5%;
  position: relative;
  padding:1%;
  padding-bottom:2.5%;
  background:rgba(0,0,0,.3);
  box-shadow: 0px 0px 10px 10px rgba(0,0,0,.5);
}
.info_item_name{
  float:left;
}
.day_text{
  position: absolute;
  top:5%;
  left:5%;
  width:40%;
  font-size: 15px;
  color:white;
  font-family: "Amazon Embers";
}
.info_item_value{
  float:right;
  text-align: right;
}

.exit_weather{
  position: absolute;
  top:2.5%;
  font-size:30px;
  color:white;
  font-family: "Nanum Gothic Coding", monospace;
  right:2.5%;
}
.inactive{
  position: absolute;
}
.info_box{
  width:100%;
  margin-top:0%;
}
