.no_search_img{
  width:30%;

  margin-left:35%;

}
.no_searched_container{
  padding:10%;
  box-sizing: border-box;
  padding-top:0%;
  position: relative;

}
.title_search_none{
  text-align: center;
  color:#e7e7e7;
  font-size: 30px;
  font-family: "Montserrat";
}
